@media screen and (max-width:991px){
    #navbarSupportedContent{
    display: flex;
    flex-direction: column;
    }
}

@media screen and (max-width:991px){
    .container-fluid{
    display: flex;
    flex-direction: column;
    }
}

@media screen and (max-width:335px){
    .btn{
  
    margin-top: 10px;
    }
}